// Header
.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  padding: map-get($spacers, 3);
  font-size: map-get($display-font-sizes, 5);
  font-weight: $font-weight-medium;
  line-height: $line-height-lg;
  background-color: red;

  @include media-breakpoint-up(lg) {
    max-width: 90vw;
  }

  &__logo {
    width: 186px;
    height: 48px;
    text-indent: -99999px;
    background: url("./logo-dark.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  // Mobile
  #navbar-check,
  .overlay {
    display: none;
  }

  #navbar-check:checked {
    & ~ .menu.mobile {
      right: 0;
      transition: all 0.5s;
    }

    & ~ .overlay {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(4px);
    }
  }

  .navbar-btn {
    display: inline-block;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .desktop {
    display: none;
  }

  .menu.mobile {
    position: fixed;
    top: 0;
    right: -60vw;
    width: 60vw;
    height: 100vh;
    padding: map-get($spacers, 4) map-get($spacers, 3);
    background-color: #fff;
    transition: all 0.5s;

    .menu-logo {
      margin-bottom: map-get($spacers, 4);
    }

    .menu-item {
      margin-bottom: map-get($spacers, 3);
    }

    .main-menu {
      border-bottom: 1px solid map-get($gray, "gray-1");
    }

    .sub-menu {
      padding-top: map-get($spacers, 3);

      .menu-item {
        display: flex;
        align-items: center;
      }
    }
  }

  // Desktop
  @include media-breakpoint-up(lg) {
    input {
      all: unset;
    }
    display: flex;
    justify-content: space-between;

    .desktop {
      display: block;
    }

    .navbar-btn,
    .menu-logo,
    .sub-menu .link-text,
    .mobile,
    .overlay {
      display: none !important;
    }

    .main-menu,
    .sub-menu {
      display: flex;
      align-items: center;
    }

    .main-menu .menu-item:first-child {
      margin-right: map-get($spacers, 4);
    }

    .menu-item:not(:last-child) {
      margin-right: map-get($spacers, 4);
    }
  }
}
