.section {
  margin-bottom: map-get($spacers, 4);

  .title {
    margin-bottom: map-get($spacers, 4);
    font-size: map-get($display-font-sizes, 1);
    font-weight: $font-weight-bold;
    line-height: $line-height-base;
    color: map-get($primary, "lime-5");

    .title-en {
      display: block;
      margin-bottom: map-get($spacers, 2);
      font-size: map-get($display-font-sizes, 4);
      font-weight: $font-weight-medium;
      line-height: $line-height-base;
      color: map-get($primary, "lime-5");
    }
  }

  .subtitle {
    margin-bottom: map-get($spacers, 3);
    font-size: map-get($display-font-sizes, 2);
    font-weight: $font-weight-bold;
    line-height: $line-height-base;
    color: map-get($gray, "gray-5");
  }

  .description {
    font-size: map-get($display-font-sizes, 5);
    font-weight: $font-weight-normal;
    line-height: $line-height-lg;
    color: map-get($gray, "gray-4");
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: map-get($spacers, 6);
  }

  // customize section style
  &.kv {
    position: relative;
    max-width: 1280px;
    margin: 0 auto map-get($spacers, 4);

    .kv-slogan {
      --w: 100vw;
      position: relative;
      display: flex;
      padding: map-get($spacers, 3);
      min-height: 240px;
      border-radius: $border-radius;
      font-size: calc((var(--w) / 5));
      font-weight: $font-weight-bold;
      line-height: 1.75;
      color: map-get($gray, "gray-0");
      background-color: map-get($gray, "gray-2");
    }

    .kv-media {
      position: relative;
      z-index: 1;
      display: inline-block;
      width: auto;
      bottom: -22px;
      left: 50%;
      transform: translateX(-50%);

      .kv-img {
        width: 100%;
        max-width: 305px;
      }

      .btn {
        position: absolute;
        width: auto;
        bottom: 42px;
        left: -20px;
      }
    }

    .slogan-bg {
      width: 100%;
    }

    .slogan-text {
      position: absolute;
      display: flex;
      min-width: 352px;
      align-items: center;
      flex-wrap: wrap;
      top: 50%;
      left: 50%;
      padding: map-get($spacers, 1) map-get($spacers, 3);
      border-radius: $border-radius-lg;
      font-size: map-get($display-font-sizes, 3);
      font-weight: $font-weight-bold;
      line-height: $line-height-base;
      color: map-get($primary, "lime-3");
      background-color: map-get($gray, gray-5);
      transform: translateX(-50%) translateY(-50%);

      .icon:first-child {
        margin-right: map-get($spacers, 2);
      }

      .icon:last-child {
        margin-left: map-get($spacers, 2);
      }

      svg * {
        stroke: map-get($primary, "lime-3");
      }

      .slogan-number {
        display: inline-block;
        width: 32px;
        height: 32px;
        line-height: 28px;
        border: 3px solid map-get($primary, "lime-3");
        border-radius: 50%;
        text-align: center;
        letter-spacing: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      width: 90vw;
      margin-bottom: map-get($spacers, 6);

      .kv-media {
        position: absolute;
        right: -16px;
        bottom: -16px;
        left: unset;
        transform: unset;

        .kv-img {
          max-width: 361px;
        }
      }

      .kv-slogan {
        letter-spacing: 13px;
        --w: 1280px;
        font-size: calc((var(--w) / 5));
        line-height: 1.3;
      }

      .slogan-text {
        left: -20px;
        transform: translateY(-50%);
        font-size: map-get($display-font-sizes, 1);

        .slogan-number {
          width: 64px;
          height: 64px;
          line-height: 60px;
        }

        .icon {
          width: 64px !important;
        }
      }
    }
  }
  &.claims {
    .context {
      font-size: map-get($display-font-sizes, 5);
      font-weight: $font-weight-medium;
      line-height: $line-height-lg;
      color: map-get($gray, "gray-4");

      &:not(:last-child) {
        margin-bottom: map-get($spacers, 3);
      }
    }

    @include media-breakpoint-up(lg) {
      display: flex;
      .title {
        width: calc(100% / 12 * 3);
      }
      .context-wrapper {
        width: calc(100% / 12 * 9);
      }
    }
  }
  &.service {
    .service-img {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      display: flex;

      .service-context {
        width: calc(100% / 12 * 5);
        position: relative;
      }

      .service-form {
        flex-grow: 1;
        z-index: 2;
      }

      .service-img {
        display: block;
        width: calc(100% / 5 * 3);
        position: absolute;
        right: calc(100% / -5);
        margin-right: map-get($spacers, 4);
        z-index: 1;
        bottom: 0;
      }
    }
  }

  &.donations {
    .subtitle {
      word-break: keep-all;
    }

    .donations-total {
      padding: map-get($spacers, 3);
      width: 100%;
      display: inline-block;
      border-radius: $border-radius;
      font-size: map-get($display-font-sizes, 4);
      font-weight: $font-weight-medium;
      line-height: $line-height-base;
      color: map-get($primary, "lime-3");
      background-color: map-get($gray, "gray-5");
      margin-bottom: map-get($spacers, 4);

      .donations-total-count {
        margin-top: map-get($spacers, 1);
        display: block;
        font-size: map-get($display-font-sizes, 1);
        font-weight: $font-weight-bold;
        line-height: $line-height-base;
      }
      @include media-breakpoint-up(lg) {
        padding: map-get($spacers, 3) map-get($spacers, 4);
      }
    }

    @include media-breakpoint-up(lg) {
      display: flex;
      gap: map-get($spacers, 4);

      .donations-context {
        position: relative;
        width: calc(100% / 12 * 5);
      }

      .donations-donation {
        width: calc(100% / 12 * 7);
      }

      .donations-total {
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
      }
    }
  }

  &.events {
    @include media-breakpoint-up(lg) {
      display: flex;

      .events-title {
        width: calc(100% / 12 * 3);
      }
      .events-cards {
        width: calc(100% / 12 * 9);
      }
    }
  }
}
