// Buttons
@use "sass:map";

.btn {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: $font-weight-medium;
  border: none;
  color: map.get($gray, "gray-5");
  background-color: map.get($primary, "lime-3");
  cursor: pointer;

  &.is-large {
    padding: map.get($spacers, 3) map.get($spacers, 4);
    border-radius: $border-radius;
    font-size: map.get($display-font-sizes, 4);
    line-height: 1.5;
  }
  &.is-small {
    padding: map.get($spacers, 2) map.get($spacers, 3);
    border-radius: $border-radius-lg;
    font-size: map.get($display-font-sizes, 5);
    line-height: 1.75;
  }

  &:hover {
    background-color: map.get($primary, "lime-4");
  }

  > .icon:first-child {
    margin-right: map-get($spacers, 2);
  }

  > .icon:last-child {
    margin-left: map-get($spacers, 2);
  }
}
