// Variables

// Colors
$gray: (
  "gray-5": #000,
  "gray-4": #444,
  "gray-3": #8c8c8c,
  "gray-2": #c6c6c6,
  "gray-1": #e2e2e2,
  "gray-0": #fff,
) !default;

$primary: (
  "lime-5": #a8c400,
  "lime-4": #bbe217,
  "lime-3": #d1fa31,
  "lime-2": #eeffa9,
  "lime-1": #fbffe1,
) !default;

// Typography
$font-family-sans-serif: "Noto Sans" !default;

$display-font-sizes: (
  1: 3rem,
  2: 1.75rem,
  3: 1.5rem,
  4: 1.25rem,
  5: 1rem,
  6: 0.875rem,
) !default;

$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;

$line-height-base: 1.5 !default;
$line-height-lg: 1.75 !default;

// Spacing
$spacer: 1rem !default;
$spacers: (
  0: $spacer * 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 2,
  5: $spacer * 3,
  6: $spacer * 4,
) !default;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

// Grid containers
// device: <576, >=576, >=768, >=992, >=1200, >=1400
// xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 90vw,
  xxl: 1260px,
) !default;

// Components
$border-radius: 1rem !default;
$border-radius-sm: 0.5rem !default;
$border-radius-lg: 3rem !default;

// Forms
$input-border-color: map-get($gray, "gray-1") !default;
$input-border-color-focus: map-get($gray, "gray-3") !default;
$input-border-color-active: map-get($gray, "gray-3") !default;
